html,body {
    height: 100%;
}
.mdl-layout__header-row .mdl-navigation__link:last-of-type {
    padding-right: 0;
}

/** App bar **/
.back-button {
    margin-left: -20px;
}

.app-bar-btn {
    margin-top: 10px;
    margin-bottom: 15px;
    margin-right: 10px;
}

/** Search bar is a button too! **/
.search-bar {
    margin-right: 5px;
}

/** Fix checkboxes being crazy wide **/
.mdl-checkbox {
    max-width: 20px;
}

/** Header has way too much padding on right **/
.mdl-layout__header-row {
    padding-right: 5px;
}

/** Page content **/
.page-content {
  position: relative;
}

/** Cards **/
.manga_card {
    color: white;
    position: relative;
    padding: 0;
    text-transform: none;
    text-align: left;
    line-height: 20px;
    height: auto;
}

.manga_card_img {
    width: 100%;
}

.manga_card_label {
    position: absolute;
    width: calc(100% - 16px); /* Label gets cut off otherwise for some reason **/
    background: linear-gradient(to top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.7) 40%, rgba(0, 0, 0, 0) 100%);
    padding: 8px;
    bottom: 0;
}
/** List headers **/
.list_header {
    width: 100%;
    background: rgb(96,125,139);
    padding: 8px;
    color: white;
    font-size: 20px;
}
/** Spinners **/
.loading_spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 0.5s;
  opacity: 1;
  pointer-events: none;
}
/** Layout **/
.mdl-layout {
    overflow: hidden;
}