/** Tab transitions **/
.tab_panel {
  transition: all 0.25s;
  opacity: 0;
  pointer-events: "none";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.tab_panel.selected {
  opacity: 1;
  pointer-events: "all";
}
/** Header **/
#info_header {
  width: 100%;
}
#cover_img {
  width: 20%;
}
#header_content {
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 16px;
  width: calc(80% - 32px);
  float: right;
  word-break: break-all;
}
#fav_btn {
  float: right;
  margin-right: 16px;
  transform: translateY(-50%);
}
#manga_desc_wrapper {
  margin: 16px;
  width: 100%;
  padding-right: 16px;
}
#manga_desc {
  margin-right: 32px;
}
