/** Roboto fonts **/
@font-face {
    font-family: "Roboto";
    src: url(lib/fonts/Roboto-Regular.ttf) format("truetype");
    font-weight: normal;
}
@font-face {
    font-family: "Roboto";
    src: url(lib/fonts/Roboto-Bold.ttf) format("truetype");
    font-weight: bold;
}
@font-face {
    font-family: "Roboto";
    src: url(lib/fonts/Roboto-Italic.ttf) format("truetype");
    font-style: italic;
}
@font-face {
    font-family: "Roboto";
    src: url(lib/fonts/Roboto-BoldItalic.ttf) format("truetype");
    font-style: italic;
    font-weight: bold;
}
html, body {
    font-family: Roboto, Ubuntu, "Trebuchet MS", sans-serif;
}